// this file is the access point for composing all the available mixins
@import "../../../vendor_assets/css/bootstrap/config.bs";

@import "functions";
@import "utility-classes";
@import "colors-classes";
@import "overlay";
@import "btn-shadow";
@import "forms";
@import "custom-scrollbar";
@import "helpers";
@import "gradient";


/* container sizes for various devices */
$container-size: 1170px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@mixin vertically_middle{
  display: inline-block;
  vertical-align: middle;
  margin-right: -3px;
}
@mixin cardShadow{
  -webkit-box-shadow: 0 2px 4px transparentize(#6c6f73, .9);
  -moz-box-shadow: 0 2px 4px transparentize(#6c6f73, .9);
  box-shadow: 0 2px 4px transparentize(#6c6f73, .9);
}

@mixin cardify{
  background: #fff;
  border-radius: 4px;
  //@include cardShadow;
}

@mixin rounded{
  border-radius: 200px;
}

@mixin gradient{
  background: linear-gradient(to left, $secondary, $primary);
}
// @param $parent is the parent of the element that will get focus on click
@mixin focusOnClick($focusecondary){
  &:active{
    background: darken($focusecondary, 3%);
  }
}


/* Custom scrollbar */
@mixin customScrollbar($bla){
  #{$bla}::-webkit-scrollbar-track{
    background-color: transparent;
  }
  #{$bla}::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
  }
  #{$bla}::-webkit-scrollbar-thumb{
    background-color: #e9eef2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

@mixin getItemWidth($countInRow, $xPad){
  $width: calc((#{100% / $countInRow}) - #{$xPad * 2}px);
  flex: 0 0 $width;
  max-width: $width;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@mixin media-xs{
  @media (max-width: $xs - 1) { @content; }
}

@mixin media-sm{
  @media (max-width: $sm - 1) { @content; }
}

@mixin media-md{
  @media (max-width: $md - 1) { @content; }
}

@mixin media-lg{
  @media (max-width: $lg - 1) { @content; }
}

@mixin media-xl{
  @media (min-width: $lg) { @content; }
}